body {
    margin-left: 20px;
    margin-right: 20px;
    font-family: sans-serif;
    text-align: center;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    
    font-size:2.5rem;
}
h3{
    font-weight:bold;
}
p {
    color:#8f8f8f;
}


/* Heading */

.big-heading {
    font-family: 'Montserrat', sans-serif;
    font-size:3rem;
    line-height:1.5;
    font-weight:bold;
}

.pricing-heading {
    font-size:2.5rem;
    line-height:1.2;
}


/* Navigation Bar */

#title {
    /* background-color: #FF616D; */
    text-align:left;
    color: #000;
}

/* .navbar {
    
} */

.navbar-brand {
    color:#000;
    font-family: "Ubuntu";
    font-size:2.5rem;
    font-weight:bold;
}

.nav-item {
    padding: 0 5px;
}

.nav-link {
    font-size:1.2rem;
    font-family: "Montserrat";
}

/* .container-fluid {
    padding: 3% 15% 4%;
} */






/* Title Image */

.title-img {
    position: absolute;
width: 450px;
height: 450px;
left: 55%;
top: 10%;
   
}

/* Chat Box */

.chat-text {
    position: absolute;
/* width: 608px;
height: 216px;
left: 742px;
top: 913px; */

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 2rem;
line-height: 1.2;
display: flex;
align-items: center;

color: #402A30;
}

.text {
    position: absolute;
width: 641px;
height: 252px;
left: 721px;
top: 1153px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 36px;
display: flex;
align-items: center;
letter-spacing: 0.03em;

color: #402A30;

text-shadow: 0px 0px 250px rgba(152, 216, 255, 0.7);
}

/* Footer 2 */

#footer2 {
    background-color: #fff;
    padding:7% 15%;
}
.footer-icon {
    margin:20px 10px;
    color:#000;
}

@media (max-width: 1000px) {
    #title {
        text-align: center;
    }
    .title-image {
        transform:rotate(0);
    }
}

